.desc{
    display: inline-block;
}
.players p{
    width: 850px;
    height: 100%;
    text-indent: 40px;
    font-size: 25px;
    word-spacing: 5px;
    margin-bottom: 10%;
    display: inline-block;
    
}
.images{
    display: inline-block;
    
}
.images img{
    margin-left: 12%;
}
.Github
{
    background-color: rgb(46,164,79);
    color:white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 100px;
    padding-right: 100px;
    cursor: pointer;
    margin-left: 20%;
    width: 300px;
    display: inline-block;
}
.Github:hover{
    opacity:0.8;
    background-color: lawngreen;
    color: blue;
    transition: 0.3s linear;
}